*.pyc
.DS_Store

/temp/*
!/temp/.gitkeep

/.project
/.pydevproject

\.idea/

rts/stats/actionExecuted/

rts/stats/gameEndTurn/

rts/stats/sum/

rts/stats/unitKilledBy/

Py37_new/

rts/models/logsTD2020NNet/

rts/models/TD2020NNet_model_plot\.png
