cffi==1.11.5
coloredlogs==14.0
cython==0.28.3
flask==1.0
gitpython==2.1.11
matplotlib
numpy==1.14.5
pandas==0.23.1
scipy
scikit-learn
scikit-image
torchfile==0.1.0
torchvision==0.2.1
tqdm==4.19.5
visdom==0.1.7
